<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631433474584-kej3se1tdue0tofvcq1u84u63r1jrrb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631433474584-kej3se1tdue0tofvcq1u84u63r1jrrb3</string>
	<key>API_KEY</key>
	<string>AIzaSyBD7aH4jrzXIwbsFJv10Z4Iz2GZbBOV6Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>631433474584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SecureChat</string>
	<key>PROJECT_ID</key>
	<string>secure-chat-13067</string>
	<key>STORAGE_BUCKET</key>
	<string>secure-chat-13067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:631433474584:ios:9233684f3efb6258</string>
	<key>DATABASE_URL</key>
	<string>https://secure-chat-13067.firebaseio.com</string>
</dict>
</plist>